

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.column{
    display: flex;
    flex-direction: column;
    row-gap: 46px;
    width: 430px;

}



aside{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.profile, .people-know-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 430px; /*no funciona rem*/
    border-radius: 21px;
    background-color: var(--bg-cards);
}

.profile-info{
    display: flex;   
    flex-direction: column;
    align-items: center;
    color: var(--font-color-primary);
    text-align: center;
    font-weight: 700;
    background-color: var(--bg-cards);
    padding: 63px 20px 26px 20px;
    border-bottom: 1px solid #29364d;
    position: relative;
}

.profile-info img{
    width: 101px; 
    position: absolute;
    top: -51px
}

.profile-info p:nth-child(2){
    font-size: 23px;
    letter-spacing: 1px;
}

.profile-info p:nth-child(3){
    color: var(--font-color-secundary);
    font-weight: 500;
    font-size: 17px;
    padding-bottom: 10px;
    padding-top: 5px;
    font-family: var(--ff-secundary);
}

.profile-info p:nth-child(4){
    font-size: 18px;
    color: #DDDDDD;
    letter-spacing: 1px;
}

.seguidores{
    display: flex;
    flex-direction: row;
    align-items: center; 
    flex-wrap: wrap;
    justify-content:space-around;
    color:#ffffff;
    text-align: center;
    width: 100%;
    max-width: 430px;
    border-bottom: 1px solid #29364d;
}

.seguidores .follow{
    height: 93px; /*no funciona rem*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3px;
}

.seguidores .follow p:first-child{
    font-size: 23px;
    line-height: 27.45px;
    font-weight: 700;
}

.seguidores .follow p:nth-child(2){
    color: var(--font-color-secundary);
    font-weight: 500;
    font-size: 17px;
    font-family: var(--ff-secundary);
}

.seguidores .follow .ing{
    border-top: 4px solid #29364d;
}

.show-profile{
    height: 73px; /*no funciona rem*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: var(--ff-secundary);
}

.show-profile a{
    color: #1090F2;
    text-decoration: none;
}
/*FIN PRIMERA CARD*/
/*COMIENZO SEGUNDA CARD*/

.people-know-container{
    display: flex;
    flex-direction: column;
}

.people-know-container .t-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: #DDDDDD;
    font-size: 22px;
    line-height: 26.25px;
    font-weight: bold;
    width: 430px;
    padding: 0 24px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.people-know-container .people-know{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    row-gap: 29px;
    padding-top: 14px;
}

.people-know .people{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 430px;
    padding: 0 24px;
}

.people .image{
    width: 100%;
    max-width: 106px;
}

.people .datos{
    width: 100%;
    max-width: 165px;
}

.people .datos p{
    font-size: 15px;
    line-height: 17.9px;
    color: #888888;
}

.people .datos p:first-child{
    font-size: 20px;
    line-height: 23.87px;
    color: #ffffff;
}

.people button{
    width: 102px;
    height: 42px;
    border-radius: 51px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

.people-know-container .show-more{
    width: 430px;
    padding: 0 24px;
    padding-top: 17px;
    padding-bottom: 20px;
}

.people-know-container .show-more a{
    color: #1090F2;
    font-size: 17px;
    line-height: 20.29px;
    font-weight: 500;
    text-decoration: none;
}

.people-know-container .show-more a:hover{
    text-decoration: underline;
}