:root{
    --bg-primary: #080e24;
    --bg-cards: #121d36;
    --font-color-primary: #ffffff;
    --font-color-secundary: #888888;
    --font-color-enlaces: #41adff;
    --ff-secundary:"sf_pro_displaymedium", sans-serif;
}